.login-container {
  background-color: #ffffff; /* White */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.login-container h2 {
  color: #00A870; /* Green */
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.login-container input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #dddddd; /* Light Gray */
  background-color: #f7f7f7; /* Lighter Gray */
  font-size: 1rem;
  width: 100%;
}

.login-container input:focus {
  outline: none;
  border-color: #00A870; /* Green */
}

.login-container button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  background-color: #00A870; /* Green */
  color: #ffffff; /* White */
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #00e194; /* Bright Green */
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 3rem; /* Make space for the icon */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #636363; /* Medium Gray */
}
